.paginated-section {
  display: flex;
}

.pagination > li {
  display: inline-block;
  border: 1px solid #ddd;
}

.pagination > li > a {
  color: black;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
}

.pagination > li.active > a {
  background: rgb(224, 224, 224);
  outline: none;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.viewAllBtn {
  border: 1px solid #ddd;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  font-size: 15px;
}

.viewAllBtn:hover {
  background-color: #ddd;
}
